/* Fonts Start*/

.platino{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.tahoma{
  font-family: Tahoma, Geneva, sans-serif;
}

.century{
  font-family: Century Gothic, sans-serif;
}

.lucida{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.arial-black{
  font-family: 'Arial Black', Gadget, sans-serif;
}

.times{
  font-family: 'Times New Roman', Times, serif;
}

.arial-narrow{
  font-family: 'Arial Narrow', sans-serif;
}

.verdana{
  font-family: Verdana, Geneva, sans-serif;
}

.copperplate{
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

.lucida-console{
  font-family: 'Lucida Console', Monaco, monospace;
}

.gill{
  font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.trebuchet{
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.courier{
  font-family: 'Courier New', Courier, monospace;
}

.arial{
  font-family: Arial, Helvetica, sans-serif;
}

.georgia{
  font-family: Georgia, Serif;
}

/* Fonts End */

/* Coustom start */

.logo{
  width: 75%;
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.mh-700{
  min-height: 700px;
}

.mh-500{
  min-height: 500px;
}

.articulo-principal{
  cursor: pointer;
  min-height: 350px;
}

.articulo-principal:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.articulo-principal img{
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.categoria{
  cursor: pointer;
  transition: 0.5s;
}

.categoria:hover{
  transform: scale(1.1);
  background: rgb(21, 0, 97) !important;
  color: white !important;
}

.contenedor-img{
  height: 200px;
}

#abrirOpcionesOrden:hover, #OpcionesOrden ul li:hover{
  cursor: pointer;
  background: rgb(69, 69, 230);
  color: white;
}

@media (min-width:768px){

  .logo{
    width: 40%;
  }

  .swiper {
    height: 500px;
  }

  .swiper-slide img {
    object-fit: cover;
    height: 500px;
  }

  .articulo{
    min-height: 420px;
  }
  
  #resultados .articulo{
    min-height: 450px !important;
  }

}